extends layout 

block content 
  .container.d-flex.flex-column.align-items-center
    h1.mb-3 Become an admin 
    .alert.alert-success(role='alert') Hi #{currentUser.firstName}, please type the secret password to become an admin. Becoming an admin will allow you to delete posts.
    form.border.rounded.p-4(action="", method="post") 
      .mb-3 
        label.form-label(for="password") Password
        input.form-control(type='password' name='password' class=(passwordError ? 'is-invalid' : '') id='password' required)
        if(passwordError)
          .invalid-feedback=passwordError.msg 
      .text-center 
        button.btn.btn-success(type="submit") Become an admin 