extends layout 

block content 
  .container.d-flex.flex-column.align-items-center
    h1.mb-5 Log In
    form.border.rounded.p-4(action="", method="post") 
      .mb-3 
        label.form-label(for="email") Email
        input.form-control(type='email' name='email' id='email' value=(email ? email : '') required) 
      .mb-3 
        label.form-label(for="password") Password
        input.form-control(type='password' name='password' class=(passwordError ? 'is-invalid' : '') id='password' required)
        if(passwordError)
          .invalid-feedback=passwordError.msg 
      .text-center 
        button.btn.btn-success(type="submit") Log In  
    if(messages.error)
      p.text-danger=messages.error